.groupSelectionScreen {
    text-align: left;
    margin-left: 0.5rem;
}

.groupSelectionScreen * {
    display: block;
    margin-top: 0.25rem;
}

.groupSelectionScreen button {
    display: inline-block;
    margin-right: 0.5rem;
}
