.game {
    display: block;
    text-align: center;
}

.game * {
    font-family: Arial, Helvetica, sans-serif;
}

.console {
    border-color: grey;
    border-style: dashed;
    border-width: 2px;
    text-align: left;
}

.screen {
    text-align: left;
    margin-left: 0.5rem;
    display: inline-block;
}

.screen * {
    display: block;
    margin-top: 0.25rem;
}
