body {
    overscroll-behavior: contain;
}

.game {
    display: block;
    text-align: center;
}

.game * {
    font-family: Arial, Helvetica, sans-serif;
}

.gameTitle {
    font-size: 30pt;
}

.console {
    border-color: grey;
    border-style: dashed;
    border-width: 2px;
    text-align: left;
}

.screen {
    text-align: left;
    margin-left: 0.5rem;
    display: inline-block;
}

.screen * {
    margin-top: 0.25rem;
}

.screen h3 {
    font-size:25pt;
}

.screen label {
    font-size:18pt;
}

.screen input {
    font-size:18pt;
    border-color: black;
    border-style: solid;
}

.screen ul li {
    font-size:16pt;
}

.screen button {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20pt;
}

.buttonTypeA {
    background-color:rgb(132, 196, 134);
}

.buttonTypeB {
    background-color: rgb(135, 202, 247);
}

