.game {
    display: block;
    text-align: center;
}

.game * {
    font-family: Arial, Helvetica, sans-serif;
}

.console {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
    text-align: left;
}