.colorPicker {
    display: inline-block;
}

.colorPicker h3{
    margin: 0;
}

.brushColorContainer, .brushSizeContainer {
    margin-left: 5;
    display: inline-block;
    border-style: solid;
    border-color: white;
}

.brushColor {
    width: 4rem;
    height: 4rem;
    border-color: black;
    border-style: solid;
}

.brushSize {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    border-color: black;
    border-style: solid;
}

.highlightedBrushColor, .highlightedBrushSize {
    border-style: solid;
    border-color: blue;
}
